  <div class="row pt-5">
    <h4>総合ランキング</h4>
  </div>
    <div class="row my-4">
      <table class="ranks">

        <% lastLike = 0 %>                               <!--いいねを代入する場所-->
        <% j = 1 %>                                      <!--jは順位を表している-->
        <% all_ranks.each.with_index(1) do |word, i| %>  <!--with_index(1)でランキングの順位を1位から開始-->
          <% if i == 1 %>
            <% lastLike = word.likes.count %>
          <% end %>
                                                         <!--ここまでで1位のwordがlastlikeに代入される-->
        <tr class="ranks-list">
          <% if word.likes.count != lastLike %>          <!--ここから1位以下の順位について-->
            <% j = i %>
            <td class="ranks-number">第<%= j %>位</td>
            <td class="ranks-genre">
              <%= word.genre.name %>
              <%# word.genres.each do |g
              enre| %>
              <%#= genre.name %>
              <%# end %>
            </td>
            <td class="ranks-word">
              <%= link_to word_path(word.id) do %>
              <%= word.sentence %>
              <% end %>
              </td>
            <td class="ranks-like"><%= render 'members/likes/like-btn', word:word %></td>
            <% lastFavorite = word.likes.count %>
          <% else %>                                     <!--elseに1位を記述-->
          <% lastFavorite = word.likes.count %>
            <td class="ranks-number">第<%= j %>位</td>
            <td class="ranks-genre">
              <%# word.genres.each do |genre| %>
              <%= word.genre.name %>
              <%# end %>
            </td>
            <td class="ranks-word">
              <%= link_to word_path(word.id) do %>
              <%= word.sentence %>
              <% end %>
            </td>
            <td class="ranks-like"><%= render 'members/likes/like-btn', word:word %></td>
          <% end %>
        <% end %>
        </tr>
      </table>
    </div>