<div class="container">
  <%= render 'layouts/error_messages', object: @word %>
  <div class="row d-flex align-items-center p-5 pb-2">
    <h4>投稿編集ページ</h4>
  </div>

  <%= form_with model:@word, local: true do |f| %>
      <div class="form-group row md-3 offset-2 mx-auto" style="width: 400px;">
        <p class="text-center mb-5" style="width: 400px;">
          <%= f.label :sentence, "言葉" %></br>
          <%= f.text_area :sentence, class:"form-control" %>
        </p>
      </div>
      <div class="form-group row md-3 offset-2 mx-auto" style="width: 250px;">
        <p class="text-center mb-4" style="width: 250px;">
          <%= f.label :genre, 'ジャンル', class:"control-label" %></br>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, selected: @word.word_genre.genre_id, include_blank: "ジャンルを選択" %>
        </p>
      </div>
      <div class="form-group row md-3 offset-2 mx-auto pt-3" style="width: 80px;">
      <%= f.submit "変更", class: "btn btn-outline-success" %>
      </div>
  <% end %>
</div>