<div class="container">
  <div class="row d-flex align-items-center">
    <h4 class="col-md-8 text-center">投稿編集ページ</h4>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-md-12"></div>
    <%= form_with model:@word, local: true do |f| %>
      <%= render 'layouts/error_messages', object: @word %>
      
    <div class="form-group">
      <%= f.label :sentence, "言葉" %></br>
      <%= f.text_area :sentence %>
    </div>
    <div class="form-group">
      <%= f.label :genre, 'ジャンル' %></br>
      <%= f.fields_for :word_genres do |genre_form| %>
        <%= genre_form.collection_select :genre_id, Genre.all, :id, :name, include_blank: "ジャンルを選択" %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit "変更", class: "btn btn-outline-success" %>
    </div>
    <% end %>
  </div>
</div>