<div class="container">
  <div class="row d-flex align-items-center p-5">
    <h4>詳細ページ</h4>
  </div>

  <div class="member-info">
    <div class="member-info-img">
      <%= link_to member_path(@word.member) do %>
        <%= attachment_image_tag @word.member, :profile_image, size:"100x100", fallback: "no_image.jpg", class:"rounded-circle" %><br>
        <span class="text-align" style="color: black;"><%= @member.name %></span>
      <% end %>
    </div>
    <div class="member-info-introduction">
      <p class="member-info-genre"><%= @word.genres[0].name %></p>
      <p class="member-info-sentence"><%= @word.sentence %></p>
      <p class="member-info-word">
        <span style="background-color: #FFCC99" class="mr-4">投稿日：<%= @word.created_at.strftime("%Y年%m月%d日") %></span>
        <span style="background-color: #FFF"> いいね数： <%= render 'members/likes/like-btn', word:@word %></span>
      </p>
    </div>
  </div>
</div>