<div class="container">
  <div class="row mb-5">
    <h3 class="col-md-6">新規登録</h3>
  </div>

    <%= form_with model: @member, url: new_member_registration_path, id: 'new_member', class: 'new_member', local: true do |f| %>
      <%= render "members/shared/error_messages", resource: resource %>

      <div class="form-group row md-3">
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group row md-3">
        <%= f.label :password, "パスワード(６文字以上)" %><br>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="form-group row md-3">
        <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-5">
        すでにメンバーの方はここから<%= render "members/shared/links" %>
      </div>
    </div>
</div>