<div class="container">
  <div class="row">
    <h4 class="mx-auto text-center my-5" style="width: 450px;">ジャンル名編集</h4>
  </div>

    <%= form_with model:[:admins, @genre], local:true do |f| %>
    <div class="form-group row md-3 offset-2 mx-auto" style="width: 300px">
      <div class="text-center mt-2" style="width: 300px;">
      <%= f.label :name, "ジャンル名" %>
      </div>
      <%= f.text_field :name, class:"form-control name" %>
      <div class="form-group mx-auto mt-4">
      <%= f.submit "変更", class:"btn btn-sm btn-primary" %>
      </div>
    </div>
    <% end %>
    <i class="mx-auto"><%= link_to "戻る", admins_genres_path %></i>

  </div>
</div>