<div class="container">
  <div class="row">
    <h5 class="mx-auto text-center" style="width: 450px;">言葉のジャンル一覧<a href="#newgenre" style="color: gray;">追加</a></h5>
  </div>

  <div class="mx-auto" style="width: 450px;">
      <table class="table">
        <thead>
          <tr>
            <th class="text-left">ジャンル名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集", edit_admins_genre_path(genre.id), class:"btn btn-sm btn-dark" %></td>
            <td><%= link_to "削除", admins_genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-sm btn-danger"%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>


      <div class="mx-auto text-center" style="width: 450px;">
        <%= form_with model:@genre, url:admins_genres_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label :name, "ジャンル名" %>
          <%= f.text_field :name, placeholder:"新しいジャンル名" %>
          <section id="newgenre">
          <%= f.submit "追加する", class:"btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </section>

</div>