<div class="container">
  <div class="row d-flex justify-content-center">
    <h3 class="d-inline-flex p-3 font-weight-bold">ログイン</h3>
  </div>

  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <div class="form-group row md-3 offset-2">
      <%= f.label :email, "メールアドレス", class:"control-label col-sm-3 text-right" %><br>
      <%= f.email_field :email, class:"form-control col-4", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group row md-3 offset-2">
      <%= f.label :password, "パスワード", class:"control-label col-sm-3 text-right" %><br />
      <%= f.password_field :password, class:"form-control col-4", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group mb-3 offset-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "ログインを維持" %>
      </div>
    <% end %>

    <div class="form-group flex-column mb-3">
      <%= f.submit "ログイン", class:"col-2 offset-5 btn btn-outline-secondary"  %>
    </div>
  <% end %>
</div>
