<div class="container">
  <div class="row d-flex align-items-center">
    <h4><%= @name %>のお部屋</h4>
      <div class="col-md-4">
        <table>
          <tbody>
            <tr>
              <td>
              </td>
              <td>
                <% if @member.id == current_member.id %>
                  <%= link_to "プロフィールを編集", edit_member_path(@member), class: "btn" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <tbody class="col-md-10">
        <% @words.each do |word| %>
          <% word.genres.each do |genre| %>
          <tr>
            <td><%= genre.name %><% end %></td>
            <td><%= word.sentence %></td>
            <td class="like-btn"><%= render 'members/likes/like-btn', word:word %></td>
            <td>
              <%= link_to word_path(word), method: :delete, data: { confirm: '本当に削除しますか?' } do %>
              <i class="fas fa-trash-alt my-gray"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
