<div class="container">
  <div class="row d-flex align-items-center p-5">
    <table class="table table-hover table-inverse w-75 mt-5">
      <% if @range == 'word' %>
        <h4>"<%= @text %>" の検索結果</h4>
          <thead>
            <tr align=center>
              <th></th>
              <th>言葉</th>
            </tr>
          </thead>
          <tbody>
            <% @word.each do |word| %>
              <tr>
                <td width="100">
                  <%= link_to member_path(word.member.id) do %>
                  <%= attachment_image_tag word.member, :profile_image, size: "40x40", fallback: "no_image.jpg", class:"rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to word_path(word.id) do %>
                  <%= word.sentence %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
      <% elsif @range == 'member' %>
          <thead>
            <tr align=center>
              <th>メンバー</th>
            </tr>
          </thead>
          <tbody>
        <h4>"<%= @text %>" の検索結果</h4>
            <% @member.each do |member| %>
              <tr>
                <td align=center>
                  <%= link_to "/members/#{current_member.id}", :style=>"color:black;" do %>
                    <%= attachment_image_tag member, :profile_image, size: "40x40", fallback: "no_image.jpg", class:"rounded-circle m-1" %>
                    <%= member.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
      <% else %>
          <thead>
            <tr align=center>
              <th>ジャンル</th>
            </tr>
          </thead>
          <tbody>
        <h4>"<%= @text %>"　の検索結果</h4>
            <% @genre.each do |genre| %>
              <tr width="300">
                <td align=center>
                  <%= link_to genre_path(genre), :style=>"color:black;" do %>
                  <%= genre.name %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
      <% end %>
    </table>
  </div>
</div>