<header class="shadow-md mb-0">
  <div class="container">
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item float-left"><%= link_to image_tag("logo.png"), "/" %></li>
        <li class="search-form"><%= render 'layouts/search-form' %></li>
  <!--ログイン中-->
        <% if member_signed_in? %>
          <li class="navbar-item float-right mr-3">
            <%= link_to words_path do %>
            <i class="fas fa-file-word fa-2x fa-border my-blue text-center"></i>
            <% end %>
          </li>
          <li class="navbar-item float-right mr-3">
            <%= link_to new_word_path do %>
            <i class="far fa-edit fa-2x fa-border my-orange text-center"></i>
            <% end %>
          </li>
          <li class="navbar-item float-right mr-3">
            <%= link_to "/members/#{current_member.id}" do %>
            <i class="fas fa-house-user fa-2x fa-border my-pink"></i>
            <% end %>
          </li>
          <li class="navbar-item float-right">
            <%= link_to destroy_member_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt fa-2x fa-border my-black"></i>
            <% end %>
          </li>
  <!--管理者の時-->
          <% elsif admin_signed_in? %>
            <li class="navbar-item float-right"><%= link_to "ログアウト", destroy_admin_session_path, class:"link", method: :delete %></li>
            <li class="navbar-item float-right"><%= link_to "ジャンル", admins_genres_path, class:"link" %>・</li>
　<!--ゲストの時-->
          <% else %>
            <li class="navbar-item float-right">
              <%= link_to new_member_registration_path do %>
              <i class="fas fa-user-lock fa-2x fa-border my-green"></i>
              <% end %>
            </li>
            <li class="navbar-item float-right mr-3">
              <%= link_to new_member_session_path do %>
              <i class="fas fa-sign-in-alt fa-2x fa-border my-black"></i>
              <% end %>
            </li>
            <li class="navbar-item float-right mr-3">
              <%= link_to words_path do %>
              <i class="fas fa-file-word fa-2x fa-border my-blue text-center"></i>
              <% end %>
            </li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
