<% if member_signed_in? %>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :text, class: "form-control" %>
    <ul class="search-form mt-3">
    <li class="search-category mx-4"><%= f.select :range, options_for_select([["メンバー","member"], ["言葉","word"], ["ジャンル","genre"]]) %></li>
    <li class="search-type mr-4"><%= f.select :search, options_for_select([["完全一致","perfect"], ["部分一致","partial_match"]]) %></li>
    <li class="search-btn"><%= f.button :type => "submit", style: 'border-style: none;' do %>
      <i class="fas fa-search"></i>
    <% end %>
    </li>
    </ul>
  <% end %>
<% end %>
