<!DOCTYPE html>
<html>
  <head>
    <title>KokoGyaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/08849e3e42.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    <footer>
      <div class="contact">
        <i class="fas fa-envelope my-skyblue"></i>
        <%= link_to "お問い合わせ", new_inquiry_path, :style=>"color:black;" %>
      </div>
      <p class="footer-text">© 2021 ココギャル</p>

    </footer>
  </body>
</html>
